@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active-main-route {
  @apply text-white;
  @apply bg-red-800;
}


/**
 *  ember-power-select
*/

.ember-power-select-trigger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  height: 2.25rem;
  @apply w-full;
}

.ember-power-select-trigger:focus,
.ember-power-select-trigger--active {
  @apply ring-red-200 border-2 border-red-200 outline-none;
}

.ember-power-select-search-input {
  border-top: none;
  border-right: none;
  border-left: none;
  @apply border-gray-300;
}

.ember-power-select-search-input:focus {
  @apply ring-0 border-b border-red-200 outline-none;
}

.ember-power-select-option[aria-current="true"] {
  @apply bg-red-200 text-black;
}
