<MainPageHeader>
  <h1 class="text-3xl font-display font-bold leading-tight text-gray-900">
    Categorie&euml;n
  </h1>
</MainPageHeader>

<main>
  <div class="max-w-screen-xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-4 sm:px-0">
      {{outlet}}
    </div>
  </div>
</main>