<Rlv::Modal @onClose={{@onCancel}}>
  <:body>
  <div class="sm:flex sm:items-start">
    <div class="mx-auto flex-none flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
      {{svg-jar "alert-fill" class="h-6 w-6 text-red-600 fill-current"}}
    </div>
    <div class="mt-3 grow text-center sm:mt-0 sm:ml-4 sm:text-left">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Product verwijderen
      </h3>
      <div class="mt-2 space-y-4">
        <p class="text-sm text-gray-500">
          Bent u zeker dat u het product wil verwijderen?
          <br>Deze actie kan niet ongedaan gemaakt worden.
        </p>
      </div>
    </div>
  </div>
  </:body>
  <:footer>
  <Rlv::Button
    @label="Verwijder"
    @loading={{this.confirmDelete.isRunning}}
    @skin="primary"
    class="ml-2"
    {{on "click" (perform this.confirmDelete)}} />
  </:footer>
</Rlv::Modal>
