<div>
  <MainMenu @isLoading={{this.isLoading}} />

  {{#if this.isLoading}}
    <main>
      <div class="fixed inset-0 w-full h-screen">
        <Util::LoadingSpinner @label="Applicatie initialiseren..." />
      </div>
    </main>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
